@font-face{
	font-family: 'JuliusSansOne';
	src: url(fonts/JuliusSansOne-Regular.ttf);
}

#coluna1{
	-fx-background-color: #1E1E1E;
	-fx-padding: 40 0 0 30
}

#titulo{
	-fx-fill: white;
	-fx-font-size: 48px;
	-fx-font-family: 'JuliusSansOne';
	-fx-letter-spacing: 2px;
	
}

#container{
	-fx-padding: 80 0 0 0
}

#colaboradores, #pdiAtivo, #pdiConcluido{
	-fx-fill: white;
	-fx-font-size: 18px;
	-fx-font-family: 'JuliusSansOne';
	-fx-letter-spacing: 2px;
}

#coluna2{
	-fx-background-color: #323232;
	-fx-padding: 100 0 0 40;
	/*-fx-background-radius: 0 20 20 0;*/
}

#inicio, #equipe, #relatorios, #metas, #avaliacoes{
	-fx-text-fill: white;
	-fx-font-size: 20px;
	-fx-font-family: 'JuliusSansOne';
	-fx-letter-spacing: 2px;
	-fx-background-color: transparent;
	-fx-border-color: transparent
}

#blob1{
	-fx-fill: #323232;
	-fx-translate-x: 1090;
	-fx-translate-y: -190;
}

#blob2{
	-fx-fill: #323232;
	-fx-translate-x: 700;
	-fx-translate-y: 200;
}

#blob3{
	-fx-fill: #323232;
	-fx-translate-x: 600;
	-fx-translate-y: 250;
}