#titulo{
	-fx-fill: white;
	-fx-font-size: 36px;
	-fx-letter-spacing: 2px;
}

#subtit{
	-fx-fill:white;
	fx-font-size:20px;
}

/*------------------------------------*/
.combo-box {
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-width: 0 0 1 0;
    -fx-prompt-text-fill: white; 
}

.combo-box-base{
	-fx-background-color: transparent;
}

.combo-box .list-cell {
	-fx-background-color:transparent;
    -fx-text-fill: white;           
    -fx-font-size: 18px;
}

.combo-box .list-view {
    -fx-text-fill: white;        
    -fx-background-color: #1E1E1E; 
}


.combo-box .arrow-button {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.combo-box .arrow {
    -fx-background-color: white;
}

.combo-box{
	-fx-background-color:transparent;
	-fx-text-fill:white;
}

.input {
    -fx-background-color: transparent; 
    -fx-text-fill: white; 
    -fx-border-color: transparent; 
}
/*------------------------------------*/

#colab{
	-fx-fill: white;
	-fx-font-size:26px;
	-fx-font-weight:600;
}	

#cargo{
	-fx-fill: white;
	-fx-font-size: 16px;
}

#setor{
	-fx-fill:white;
	-fx-font-size:16px;
}

/*------------------------------------*/

#meta{
	-fx-fill: white;
	-fx-font-size:24px;
}

#data{
	-fx-fill:white;
	-fx-font-size:15px;
}

#status{
	-fx-fill: white;
	-fx-font-size: 24px;
	-fx-letter-spacing: 2px;
	-fx-font-weight: 600;
}

#upload{
	-fx-fill: white;
	-fx-font-size: 18px;
}

/*------------------------------------*/


#upload{
	-fx-fill:white;
	-fx-font-size: 20px;
}

#arquivo{
	-fx-fill:white;
	-fx-font-size:16px;
	-fx-cursor: hand;
}

/*------------------------------------*/

#salvar{
	-fx-background-color: #323232;
	-fx-text-fill: white;
	-fx-background-radius: 30px;
	-fx-font-size: 20px;
	-fx-cursor: hand;
}

/*------------------------------------*/

#tela{
	-fx-background-color: #1E1E1E;
}

.root {
    -fx-background-color: #1E1E1E;
}
		
#blob1, #blob2, #blob3{
	-fx-fill: #323232;
}