#left{
	-fx-background-color: #323232;
	-fx-padding: 170 0 0 40;
	-fx-background-radius: 0 20 20 0;
	-fx-background-insets: 0
}

#inicio, #equipe, #relatorios, #metas, #avaliacoes{
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-family: 'Kodchasan';
    -fx-letter-spacing: 2px;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
