@font-face{
	font-family: 'Kodchasan';
	src: url(fonts/JuliusSansOne-Regular.ttf);
}

#cadastroRh-layout{
	-fx-background-color: #1E1E1E;
}

#titulo-cadastro-rh{
	-fx-fill: white;
	-fx-font-size: 36px;
	-fx-font-family: 'Kodchasan';
	-fx-letter-spacing: 2px;
}

.infos {
	-fx-fill: white;
	-fx-font-size: 26px;
	-fx-font-family: 'Kodchasan';
	-fx-letter-spacing: 2px;
	
}

.input {
	-fx-background-color:transparent;
	-fx-border-color:white;
	-fx-border-width:0 0 1 0;
	-fx-text-fill:white;
	-fx-font-size:20px;
	-fx-prompt-text-fill: white;
	
}

.botoes {
	-fx-background-color: #323232;
	-fx-text-fill: white;
	-fx-background-radius: 30px;
	-fx-font-size: 20px;
	-fx-cursor: hand;
}

.date-picker {
    -fx-background-color: transparent;
}

.date-picker .text-field {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-border-color: transparent;
	-fx-text-fill: white;
	-fx-prompt-text-fill: white;
}

.date-picker .arrow-button {
    -fx-background-color: transparent;
}
