@font-face{
	font-family: 'JuliusSansOne';
	src: url(fonts/JuliusSansOne-Regular.ttf);
}

#cadastro-layout{
	-fx-background-color: #1E1E1E;
}

#titulo-cadastro{
	-fx-fill: white;
	-fx-font-size: 36px;
	-fx-font-family: 'JuliusSansOne';
	-fx-letter-spacing: 2px;
}

.infos {
	-fx-fill: white;
	-fx-font-size: 26px;
	-fx-font-family: 'JuliusSansOne';
	-fx-letter-spacing: 2px;
	
}

.input {
	-fx-background-color:transparent;
	-fx-border-color:white;
	-fx-border-width:0 0 1 0;
	-fx-text-fill:white;
	-fx-font-size:20px;
	-fx-prompt-text-fill: white;
	
}

.botao-cadastro {
	-fx-background-color: #323232;
	-fx-text-fill: white;
	-fx-background-radius: 30px;
	-fx-font-size: 20px;
	-fx-cursor: hand;
}

.date-picker {
    -fx-background-color: transparent;
}

.date-picker .text-field {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-border-color: transparent;
	-fx-text-fill: white;
	-fx-prompt-text-fill: white;
}

.date-picker .arrow-button {
    -fx-background-color: transparent;
}

.combo-box {
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-width: 0 0 1 0;
    -fx-prompt-text-fill: white; 
}

.combo-box .list-cell {
    -fx-text-fill: white;           
    -fx-font-size: 20px;
    -fx-font-family: 'JuliusSansOne';
}

.combo-box .list-view .list-cell {
    -fx-text-fill: white;        
    -fx-background-color: #1E1E1E; 
}

#blob1, #blob2, #blob3{
	-fx-fill: #323232;
}

