#scrollCenter{
	-fx-background-color: #1E1E1E;
	-fx-padding: 110 0 0 45
}

.titulo{
	-fx-fill: white;
	-fx-font-size: 48px;
	-fx-font-family: 'Kodchasan';
	-fx-letter-spacing: 2px;
	-fx-alignment: left;
	
}

#container{
	-fx-padding: 20 0 0 0
}

#colaboradores, #pdiAtivo, #pdiInativo, #pdiConcluido{
	-fx-fill: white;
	-fx-font-size: 18px;
	-fx-font-family: 'Kodchasan';
	-fx-letter-spacing: 2px;
}

#left{
	-fx-background-color: #323232;
	-fx-padding: 170 0 0 40;
	-fx-background-radius: 0 20 20 0;
	-fx-background-insets: 0
}

#inicio, #equipe, #relatorios, #metas, #avaliacoes{
	-fx-text-fill: white;
	-fx-font-size: 20px;
	-fx-font-family: 'Kodchasan';
	-fx-letter-spacing: 2px;
	-fx-background-color: transparent;
	-fx-border-color: transparent
}


#buscarColaboradores {
    -fx-fill: white;
    -fx-font-size: 18px;
    -fx-font-family: 'Kodchasan';
    -fx-letter-spacing: 2px;
}

.search-bar {
    -fx-background-color: rgba(255, 255, 255, 0.08);
    -fx-background-radius: 25;
    -fx-border-color: rgba(255, 255, 255, 0.15);
    -fx-border-radius: 25;
    -fx-border-width: 1;
    -fx-min-width: 400;
    -fx-max-width: 600;
    -fx-padding: 1 14 1 14;
	-fx-font-family: 'Kodchasan';
}

.search-field {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-prompt-text-fill: rgba(255, 255, 255, 0.5);
    -fx-border-color: transparent;
    -fx-font-size: 16px;
    -fx-padding: 1 0 1 10;
}


.icon-button {
    -fx-background-color: transparent;
    -fx-text-fill: rgba(255, 255, 255, 0.7);
    -fx-font-size: 18px;
    -fx-cursor: hand;
    -fx-border-color: transparent;
    -fx-translate-x: -10;
}

.filter-button {
    -fx-background-color: transparent;
    -fx-text-fill: rgba(255, 255, 255, 0.7);
    -fx-font-size: 16px;
    -fx-cursor: hand;
    -fx-border-color: transparent;
    -fx-padding: 6 10;
}

.filter-button:hover {
    -fx-text-fill: white;
}

#blob1, #blob2, #blob3{
	-fx-fill: #323232;
}

.colaborador-card {
    -fx-background-color: #323232;
    -fx-background-radius: 15;
    -fx-padding: 20;
    -fx-pref-width: 480; 
    -fx-effect: dropshadow(gaussian, #00000055, 10, 0.3, 0, 3);
    -fx-border-color: rgba(255, 255, 255, 0.05);
    -fx-border-radius: 15;
    -fx-transition: all 0.3s ease;
    -fx-font-family: 'Kodchasan'
}

.colaborador-card:hover {
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
    -fx-cursor: hand;
}

.colaborador-nome {
    -fx-font-size: 20px;
    -fx-fill: white;
    -fx-font-weight: bold;
}

.colaborador-cargo,
.colaborador-setor,
.colaborador-status {
    -fx-font-size: 14px;
    -fx-fill: white;
}

.colaborador-progresso {
    -fx-font-size: 14px;
    -fx-fill: white;
}


#center {
    -fx-background-color: transparent;
    -fx-spacing: 60;
}

#colaboradoresContainer {
    -fx-translate-y: -340;
    -fx-alignment: center;
}

#barra-progresso {
    -fx-accent: #49ACA0; 
    -fx-background-color: transparent;
    -fx-control-inner-background: rgba(255, 255, 255, 0.1); 
    -fx-pref-height: 30px;
    -fx-background-radius: 25px;
    -fx-border-radius: 25px;
}

#barra-progresso > .track {
    -fx-background-color: transparent;
    -fx-background-radius: 25px;
	-fx-border-color: #000000;
	-fx-border-width: 1px;
	-fx-border-radius: 25px;
}

#barra-progresso > .bar {
    -fx-background-color: #49ACA0;
    -fx-background-radius: 20px;
}

.card{
    -fx-background-color: #2A2A2A;
    -fx-background-radius: 18;
    -fx-min-width: 420px;
    -fx-min-height: 240px;

	    -fx-padding: 18;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.6), 8, 0.0, 0, 4);
    -fx-border-color: transparent;
}


#boxChart1, #boxChart2{
    -fx-alignment: center;
}

.chart-pie {
    -fx-border-color: transparent;
}

    .data0 { -fx-pie-color: #A8E6CF; }
	.data1 { -fx-pie-color: #70C1B3; }
	.data2 { -fx-pie-color: #2E8B78; }
	.data3 { -fx-pie-color: #155E57; }

.chart-legend {
    -fx-background-color: transparent; 
    -fx-text-fill: white; 
    -fx-font-family: 'Kodchasan';
    -fx-font-size: 13px; 
    -fx-padding: 0 0 0 20px; 
}

.chart-legend .chart-legend-item {
    -fx-text-fill: #E0E0E0; 
    -fx-padding: 2px 0;
}

.chart-legend .chart-legend-item-symbol {
    -fx-shape: "M0 0 H10 V10 H0 Z"; 
    -fx-scale-x: 0.9; 
    -fx-scale-y: 0.9;
 
}

/* --- Gráfico de Barras --- */

.chart {
    -fx-background-color: transparent;
}

.chart-plot-background {
    -fx-background-color: transparent;
}



.chart-bar .chart-plot-background {
    -fx-background-color: transparent;
}

.axis {
    -fx-font-family: 'Kodchasan';
    -fx-font-size: 12px;
    -fx-tick-label-fill: #E0E0E0;
    -fx-stroke: #5A5A5A;
    -fx-tick-mark-stroke: transparent;
    -fx-opacity: 0.7;
}

.axis-label {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14px;
	-fx-font-weight: 300;
}



.chart-vertical-grid-lines,
.chart-horizontal-grid-lines {
    -fx-stroke: transparent;
}


#boxChart2 {
    
    -fx-bar-gap: 1; 
    -fx-category-gap: 60px; 
}

/* Reduzir o gap do eixo X para forçar o ajuste */
.bar-chart .axis-category {
    -fx-padding: 0 30 0 30; 
}

