@font-face{
	font-family: 'Kodchasan';
	src: url(fonts/JuliusSansOne-Regular.ttf);
}

#center{
	-fx-background-color: #1E1E1E;
	-fx-padding: 110 0 0 45
}

#titulo{
	-fx-fill: white;
	-fx-font-size: 48px;
	-fx-font-family: 'Kodchasan';
	-fx-letter-spacing: 2px;
	
}

#container{
	-fx-padding: 80 0 0 0
}

#colaboradores, #pdiAtivo, #pdiInativo, #pdiConcluido{
	-fx-fill: white;
	-fx-font-size: 18px;
	-fx-font-family: 'Kodchasan';
	-fx-letter-spacing: 2px;
}


#blob1, #blob2, #blob3{
	-fx-fill: #323232;
}