#login-layout{
	-fx-background-color: #1E1E1E
}

#titulo-text{
	-fx-fill: white;
	-fx-font-size: 64px;
	-fx-font-family: 'Kodchasan';
	-fx-letter-spacing: 2px;
}

.input{
	-fx-background-color:transparent;
	-fx-border-color:white;
	-fx-border-width:0 0 1 0;
	-fx-text-fill:white;
	-fx-font-size:24px;
	-fx-prompt-text-fill: white;
	-fx-pref-width: 705px;
	-fx-font-family: 'Kodchasan';
}

#login-botao{
	-fx-background-color: #323232;
	-fx-text-fill: white;
	-fx-background-radius: 30px;
	-fx-padding: 10 25 10 25;
	-fx-font-size: 20px;
	-fx-cursor: hand;
	-fx-font-family: 'Kodchasan';
}

#blob1{
	-fx-fill: #323232;
}

#blob2{
	-fx-fill: #323232;
}

#blob3{
	-fx-fill: #323232;
}