#coluna1 {
    -fx-background-color: #1E1E1E;
    -fx-padding: 40 0 0 30;
}

#titulo, #tituloCadastrar {
    -fx-fill: white;
    -fx-font-size: 25px;
    -fx-font-family: 'JuliusSansOne';
    -fx-letter-spacing: 2px;
	-fx-alignment: Left;

}

.botao-cadastro {
	-fx-background-color: #323232;
	-fx-text-fill: white;
	-fx-background-radius: 30px;
	-fx-font-size: 18px;
	-fx-cursor: hand;
	-fx-padding: 10px 25px 10px 25px
}

#btnDelete{
	-fx-background-color: #323232;
	-fx-text-fill: white;
	-fx-background-radius: 50px;
	-fx-cursor: hand;
}

.botao-exportar {
	-fx-background-color: #323232;
	-fx-text-fill: white;
	-fx-background-radius: 30px;
	-fx-font-size: 18px;
	-fx-cursor: hand;
	-fx-padding: 10px 25px 10px 25px;
	-fx-margin: 10px 0px 0px 0px;
}

.input {
	-fx-background-color:transparent;
	-fx-border-color:white;
	-fx-border-width:0 0 1 0;
	-fx-text-fill:white;
	-fx-font-size:16px;
	-fx-prompt-text-fill: white;
	
}

.date-picker {
    -fx-background-color: transparent;
}

.date-picker .text-field {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-border-color: transparent;
	-fx-text-fill: white;
	-fx-prompt-text-fill: white;
}

.date-picker .arrow-button {
    -fx-background-color: transparent;
}

.table-view {
    -fx-background-color: #2b2b2b;
    -fx-background-radius: 40;
    -fx-border-radius: 40;
    -fx-padding: 20;
    -fx-border-width: 2;
	-fx-pref-width: 1200;
	-fx-max-width: 1200;   
    -fx-pref-height: 200px;
	-fx-text-fill: white;
	-fx-border-insets: 0 0 10px 0;
    -fx-background-insets: 0 0 10px 0;
}

.table-view .column-header-background {
    -fx-background-color: #2b2b2b;
    -fx-background-radius: 20 20 0 0;
	-fx-text-fill: white

}

.table-view .column-header, 
.table-view .filler {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-alignment: Center;
}

.table-view .table-row-cell {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 1 0;
	-fx-cell-size: 30px;
	-fx-text-fill: white

}

.table-view .table-row-cell:hover {
    -fx-background-color: #3c3c3c;
}

.table-view .table-cell {
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-alignment: Center;
    -fx-border-color: transparent;
}

.table-view .column-header .label {
    -fx-alignment: Center;
    -fx-text-fill: white;
}

.combo-box {
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-width: 0 0 1 0;
    -fx-prompt-text-fill: white; 
}

.combo-box .list-cell {
    -fx-text-fill: white;           
    -fx-font-size: 16px;
    -fx-font-family: 'JuliusSansOne';
}

.combo-box .list-view .list-cell {
    -fx-text-fill: white;        
    -fx-background-color: #1E1E1E; 
}


.combo-box .arrow-button {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.combo-box .arrow {
    -fx-background-color: white;
}